<!DOCTYPE html>
<html>
<head>
    <title>Index | Example</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <h1>Hello World.</h1>

    <script defer src="/js/Project.js"></script>
</body>
</html>